:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  
  --grey: #999999;
  --text-accent: #f87652;
  --text-accent-secondary: #ffd0c3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 32px;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input {
  font-size: inherit;
  width: 100%;
}

input, textarea, select {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input[type="text"] {
  border: 0;
  outline: 0;
  padding: 1rem 2rem;
}

input[type="text"]::placeholder {
  color: #bbb;
  font-style: italic;
}

input[type="text"]:disabled {
  background-color: #eee;
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
  
  border: #000 1px solid;
  border-radius: 50%;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  border: var(--grey) 1px solid;
}

input[type="checkbox"]::after {
  position: absolute;
  content: '';
  width: 0.5rem;
  height: 0.5rem;

  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  clip-path: polygon(16% 49%, 0 55%, 50% 100%, 100% 12%, 85% 0%, 43% 72%);

  opacity: 0;
  background-color: var(--grey);
  transition: all 0.3s;

}

input[type="checkbox"]:checked::after {
  width: 1.2rem;
  height: 1.2rem;
  opacity: 1;
  transition: all 0.3s;
}

input[type="checkbox"] + label {
  padding-left: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

input[type="checkbox"]:checked + label {
  color: var(--grey);
  text-decoration: line-through;
  transition: color 0.3s ease;
}

li:hover input[type="checkbox"] + label {
  color: var(--text-accent);
  transition: color 0.3s ease;
}

li:hover input[type="checkbox"]:checked + label {
  color: var(--text-accent-secondary);
  transition: color 0.3s ease;
}

li:hover input[type="checkbox"]::after {
  background-color: var(--text-accent);
  transition: all 0.3s;
}

li:hover input[type="checkbox"]:checked::after {
  background-color: var(--text-accent-secondary);
  transition: all 0.3s;
}

li:hover input[type="checkbox"] {
  border: var(--text-accent) 1px solid;
  transition: all 0.3s;
}

li:hover input[type="checkbox"]:checked {
  border: var(--text-accent-secondary) 1px solid;
  transition: all 0.3s;
}

h1 {
  color: var(--grey);
  font-weight: 300;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visuallyHidden {
  visibility: hidden;
}
